#reservation-view-admin-login-wrap {
    background-color: lightgray;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
} 

#reservation-view-admin-login-wrap .reservation-view-admin-login {
    width: 500px;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    border-radius: 15px;
    padding: 1rem 0 2rem 0;
}

#reservation-view-admin-login-wrap .reservation-view-admin-login .reservation-view-admin-login-title {
    font-size: 30px;
    font-weight: bold;
    padding: 1rem;
}

#reservation-view-admin-login-wrap .reservation-view-admin-login .reservation-view-admin-login-form {
    width: 70%;
}

#reservation-view-admin-login-wrap .reservation-view-admin-login .reservation-view-admin-login-form label {
    font-weight: bold;
    font-size: 20px;
    margin: 1rem 0 0.5rem 0;
}

#reservation-view-admin-login-wrap .reservation-view-admin-login .reservation-view-admin-login-form input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #af7ab3
}

#reservation-view-admin-login-wrap .reservation-view-admin-login .reservation-view-admin-login-form input:active,
#reservation-view-admin-login-wrap .reservation-view-admin-login .reservation-view-admin-login-form input:focus {
    outline-color: rgb(234, 67, 234);
}

#reservation-view-admin-login-wrap .reservation-view-admin-login .reservation-view-admin-login-form input::placeholder {
    color: #dddddd;
}

#reservation-view-admin-login-wrap .reservation-view-admin-login .reservation-view-admin-login-form .reservation-view-admin-login-button {
    width: 100%;
    margin: 2rem 0;
}

#reservation-view-admin-login-wrap .reservation-view-admin-login .reservation-view-admin-login-form .reservation-view-admin-login-button button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #af7ab3;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}

@media (max-width : 768px) {

    #reservation-view-admin-login-wrap .reservation-view-admin-login {
        width: 80%;
    }

    #reservation-view-admin-login-wrap .reservation-view-admin-login .reservation-view-admin-login-title {
        font-size: 24px;
    }

    #reservation-view-admin-login-wrap .reservation-view-admin-login .reservation-view-admin-login-form label {
        font-size: 16px;
    }

    #reservation-view-admin-login-wrap .reservation-view-admin-login .reservation-view-admin-login-form input {
        padding: 10px;
    }

    #reservation-view-admin-login-wrap .reservation-view-admin-login .reservation-view-admin-login-form .reservation-view-admin-login-button button {
        font-size: 16px;
    }
    
}