.col {
    height: 60px;
}

.calender {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-top: 1rem;
}

.calender .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

/*
.row {
    display: flex;
    width: 100%;
}
*/

.col-start {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.col-end {
    display: flex;
    justify-content: flex-end;
}

.col-end button {
    border: none;
    background-color: white;
    width: 2rem;
    font-weight: bold;
}

.col-end button:active {
    font-weight: bold;
}

.days-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.days-row .col:first-child {
    color: red;
}

.days-row .col:last-child {
    color: blue;
}

.calender-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.calender-body .day {
    width: 100%;
    display: flex;
    flex: 1;
}

.cell {
    height: 60px;
}

.disabled {
    color: #dddddd;
}

.disabled-area {
    background-color: grey;
    font-size: 2px;
    border-radius: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .calender-body {
        font-size: 0.75rem;
    }
}
