.calender {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;    
  }

  .calender .header .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }

  .col-start {
    display: flex;
    font-weight: bold;  
    align-items: center;

  }

  .col {
    height: 60px;
  }
  
  .col-end {
    display: flex;
    justify-content: end;
  }

  .col-end button {
    border: none;
    background-color: white;
    width: 2rem;
    font-weight: bold;  
  }

  .col-end button:active {
    font-weight: bold;
  }
  
  .days-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-weight: bold;
  }

  .days-row .col:first-child {
    color: red;
  }

  .days-row .col:last-child {
    color: blue;
  }

  .calender-body {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    width: 100%;
  }
  
  .cell {
    height: 60px;
  }
  
  .disabled {
    color: #dddddd;
  }
  
  .disabled-area {
    background-color: grey;
    font-size: 2px;
    border-radius: 10px;
    text-align: center;
  }
  